[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
[submodule "themes/stack"]
	path = themes/stack
	url = git@github.com:CaiJimmy/hugo-theme-stack.git
